<% include ./partials/header %>

<div id="landing" class="ui main container">
	<h1>Ethos Management</h1>
	<hr>
	<h3>Worklist Application</h3>
	<div class="credit">
		<p>Photo by Sven Scheuermeier on Unsplash</p>
	</div>
</div>

<% include ./partials/footer %>