<% include ./partials/header %>

<div id="login" class="ui main text segment container">
	<form class="ui form" action="/login" method="POST">
		<div class="ui header">Please sign in</div>

		<div class="field">
			<input type="text" name="username" placeholder="username" autofocus="true" required>
		</div>
		<div class="field">
			<input type="password" name="password" placeholder="password" required>
		</div>
		<button class="ui blue button">Login</button>
	</form>
</div>

<% include ./partials/footer %>