		</div> <!-- /.container -->
	
		<!-- jQuery -->
		<script type="text/javascript" src="/scripts/lib/jquery/dist/jquery.min.js"></script>

		<!-- Bootstrap JS -->
		<script type="text/javascript" src="/scripts/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	</body>
</html>