input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.secondary.menu {
	margin: 0;
}

.main.menu i.icon,
.secondary.menu i.icon {
	font-size: 1.5em;	
}

.ui.secondary.pointing.menu .active.item {
	border-color: rgb(33, 186, 69);
}

.menu i.search.icon {
	font-size: 1.0em;
}

.container.main {
	margin: 7.0em;
}

.ui.table {
	margin: 0;
}

a i.icon,
button i.icon {
	color: rgba(0,0,0,.87);
}

#delete {
	background: none;
	border: none;
	color: inherit;
	font-family: inherit;
}