input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.menu i.icon {
	font-size: 1.5em;	
}

.container.main {
	margin: 7.0em;
}

a i.icon {
	color: rgba(0,0,0,.87);
}