<!DOCTYPE html>
<html>
	<head>
		<title>Worklist Application</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	</head>
	<body>
		<div class="ui fixed menu">
			<div class="ui container">
				<div class="header item"><i class="leaf icon"></i>Ethos Management</div>
				<a class="item" href="/">Home</a>
				<a class="item" href="/accounts/new">Add Account</a>
			</div>
		</div>