<!DOCTYPE html>
<html>
	<head>
		<title>Worklist Application</title>
		<!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css"> -->
		<link rel="stylesheet" type="text/css" href="/stylesheets/lib/semantic-ui-css/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	</head>
	<body>
		<div class="ui fixed main menu">
			<div class="ui container">
				<div class="header item"><i class="green leaf icon"></i>Ethos Management</div>
				<a class="item" href="/">
					<i class="home icon"></i>
					Home
				</a>
			</div>
		</div>